@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Libertinus+Serif+Display&family=Story+Script&display=swap');

body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 90%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 1px;
	width: 50%;
	overflow: auto;
}
input {
	border: none;
	border-bottom: 2px solid gray;
	font-size: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgray;
	padding: 10px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
 font-family: "Story Script", sans-serif;
}
h1 {
	font-family: "Story Script", sans-serif; 
}


